<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="u-alignCenter">more about me</h3>
    <p>
      I'm an organizer. I'll help your startup get its act together, plan fun and elaborate social gatherings, and form communities around ideas and goals. I plant roots that entertwine and connect others, and that stick around even after I've moved on to new projects. 
    </p>
    <p>  
      BA in Physics, Swarthmore '11
    </p>
    <p>
        PhD in Physics, UC Santa Cruz '16 
    </p>
    <p>
      To view my formal resume, click <a href="{{ site.baseurl }}about/">here</a>.
    </p>
    <div class="newsletterForm-wrapper">
    </div>
    <hr/>
  </div>
</section>
