---
layout: default
title: About Vincent Chan
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/vincent.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Vincent Chan</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              a lifelong learner
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p>I first decided to pursue a career in physics at the age of 13, due in part to the influence of a fantastic high school teacher who gave me my first glimpse into the beauty of the physical world. This decision has since carried me through an undergraduate physics degree from Swarthmore College (oh-leven!), a National Science Foundation Graduate Student Research Fellowship, and a Master's and PhD in physics from UC Santa Cruz. I just recently finished up a postdoctoral research position at UC Santa Cruz, and after realizing that some decisions are best not left up to 13-year-olds, have decided to use my analytical skills for other purposes, and am currently the Director of Operations for CleanRobotics. While I'm not working, you can find me hiking, biking, and discussing the plight of science in politics over a craft beer.</p>
        <h4>Motto</h4>
        <p class="u--startsWithDoubleQuote">“If you can dream it, you can do it. Always remember that this whole thing was started with a dream and a mouse.” - Walt Disney</p>
        <h4>Goals (short term)</h4>
        <ul>
          <li>Become a full stack entrepreneur (design, engineering, growth)</li>
          <li>Be the best wife to the best husband</li>
          <li>Share lessons and failures to help fellow entrepreneurs</li>
          <li>Spend more time on side projects</li>
          <li>Train my body to be a flow machine</li>
        </ul>
        <h4>Dreams (long term)</h4>
        <ul>
          <li>Creating sustainable ways of life</li>
          <li>Building a global community</li>
        </ul>
        <h4>Role Models</h4>
        <p>
          My dad, Ruth Bader Ginsburg, 
        </p>
        <h4>Favorite Companies</h4>
        <p>
          Fame & Partners, 
        </p>
        <h4>Favorite Startups</h4>
        <p>
          Deeplocal, BlastPoint, Module, Robotany.
        </p>
        <h4>Favorite Brands</h4>
        <p>
          Newman's Own, Patagonia.
        </p>
        <p>
          Photo Credit: <a href="http://www.pixar.com/short_films/Theatrical-Shorts/La-Luna" target="_blank">Pixar's La Luna</a>
        </p>
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
